.han{
    padding-top: 30px;

  }
  .arr{
    color: rgb(164, 161, 161);
  }
  .hao{
       color: rgb(164, 161, 161);
       font-size:14px
  }
  .ni{
      font-size:14px
  }
  
.sales{
  font-size:14px;
  margin:20px 0px ;
}

.el-form-item__label{
  margin:20px 0px ;
}

.el-form-item__content{
  margin:-20px 0px ;
}

.el-button--success{
  margin-top:20px 
}

.el-button{
    margin-top: 50px
}

.el-input{
  width:22% ;
}

.el-icon-arrow-up:before{
  display: none
}

.el-button--success.is-plain{
  margin-left:-80px 
}

.el-button--mini, .el-button--small{
  font-size:14px
}

.sheng{
  margin-left:300px;
  margin-top:-93px  
}
#liang{
  text-align: left;
  width: 250px;
}

.el-input_suffix{
  padding-right: 30px; 
}
#fen .el-input{
  width:200px
}
